#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.gradient-background {
    height: 100%; 
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}